# Client dependencies
Client/node_modules
Client/.pnp
Client/.pnp.js

# Server dependencies
Server/vendor

# Client build
Client/build

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
